@font-face {
    font-family: VT323;
    src: url(~/assets/fonts/VT323-Regular.ttf);
}
html {
	font-size: 16px;
	word-spacing: 1px;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	box-sizing: border-box;
}
body {
	font-family: VT323;
}
*, *:before, *:after {
	box-sizing: border-box;
	margin: 0;
}
.btn, .pointer {
	cursor: pointer;
}
.btn-tri {
	border: 1px solid #000;
	color: #000;
}
.btn-tri:hover {
	background-color: #000;
	color: #fff;
}
